---
import Main from "../components/Main.astro";
import Page from "../layouts/Page.astro";
import { getSubscriptions } from "../api/feedbin";
import Link from "../components/Link.astro";
import ColumnWrapper from "../components/ColumnWrapper.astro";

export const prerender = false;

const subscriptions = await getSubscriptions(Astro.locals).then((subs) =>
	subs.filter(
		(sub) =>
			sub.site_url !== Astro.site?.toString() &&
			sub.site_url !== "http://pages.feedbinusercontent.com" &&
			sub.site_url !== "http://substack.com",
	),
);
---

<Page
	headProps={{
		title: "Kevin's RSS Subscriptions",
	}}
>
	<Main>
		<ColumnWrapper>
			<h1 class="my-16 text-4xl font-blackest">Kevin follows</h1>
			<ul class="space-y-4 columns-1 md:columns-2">
				{
					subscriptions.map((sub) => (
						<li>
							<Link
								class="flex items-baseline gap-2"
								class="flex items-baseline gap-2 hover:underline underline-offset-2 decoration-pink-500"
								href={sub.site_url}
							>
								<img
									class="self-baseline h-[1.4ex] w-[1.4ex]"
									height="16"
									width="16"
									src={`https://www.google.com/s2/favicons?sz=64&domain_url=${sub.site_url}`}
									alt={sub.title}
								/>
								{sub.title}
							</Link>
						</li>
					))
				}
			</ul>
		</ColumnWrapper>
	</Main>
</Page>
