---
import { desc } from "drizzle-orm";
import FormattedDate from "../components/FormattedDate.astro";
import Link from "../components/Link.astro";
import Main from "../components/Main.astro";
import Page from "../layouts/Page.astro";
import { getDb, linkShare } from "../schema";
import ColumnWrapper from "../components/ColumnWrapper.astro";

export const prerender = false;

const db = getDb(Astro.locals);
const data = await db.select().from(linkShare).orderBy(desc(linkShare.created));

Astro.response.headers.set("Cache-Control", "public, max-age=60, s-maxage=60");

---

<Page
	headProps={{
		title: "Links worth sharing",
		description: "A collection of links from Kevin",
	}}
>
	<Main>
		<ColumnWrapper>
			<div class="my-16">
				<h1 class="text-4xl font-blackest">Links worth sharing</h1>
				<p class="text-subtle">
					<Link href="/shared/feed.xml">RSS Feed</Link>
				</p>
			</div>
			<div class="space-y-12">
				<ul role="list" class="space-y-8">
					{
						data.map((link) => (
							<li>
								<style>
									.share-link {
										display: block;
										text-wrap: balance;
									}
									</style>
								<Link class="text-lg font-extrabold share-link w-fit" href={link.url}>
									{link.title}
								</Link>
								<div class="text-xs text-subtle">
									Shared 
									<FormattedDate
										date={link.created}
										year="numeric"
										month="short"
										day="numeric"
									/>
									•
									{new URL(link.url).hostname}
								</div>
								{link.remark && <p>{link.remark}</p>}
							</li>
						))
					}
				</ul>
			</div>
		</ColumnWrapper>
	</Main>
</Page>
