---
import { execSync } from "node:child_process";
import Html from "../layouts/Html.astro";
import BaseHead from "../components/BaseHead.astro";
import Body from "../components/Body.astro";
import CopyButton from "../components/CopyButton.astro";

// get commit hash
const commitHash = execSync("git rev-parse --short HEAD").toString().trim();

//first three characters of commit hash
const commitHashShort = commitHash.slice(0, 3);
// the commit hash without the first three characters
const commitHashLong = commitHash.slice(3);
---

<Html>
	<BaseHead title="version" />
	<Body>
		<div class="grid h-full place-items-center">
			<div class="w-48">
				<h1 class="text-lg subtle">Version</h1>
				<CopyButton class="text-2xl" text={commitHash}>
					<span class="font-mono font-extrabold">{commitHashShort}</span><span
						class="font-mono font-light">{commitHashLong}</span
					>
				</CopyButton>
			</div>
		</div>
	</Body>
</Html>
