<body
	class="font-sans bg-paper text-base-950 dark:bg-black dark:text-base-100 font-medium dark:font-normal h-full text-base leading-relaxed"
>
	<a
		class="fixed opacity-0 pointer-events-none focus-visible:opacity-100 focus-visible:pointer-events-auto p-4 bg-gray-200 dark:bg-gray-800 top-4 left-4"
		href="#skip-target"
	>
		Skip to content</a
	>
	<slot />
</body>
