---
import { cn } from "../utils/cn";

interface Props extends astroHTML.JSX.HTMLAttributes {}

const { class: className, ...rest } = Astro.props;
---

<div
	{...rest}
	class={cn(
		"w-[min(100%,var(--max-col-width,70ch))]",
		"mx-auto",
		"px-xs",
		className,
	)}
>
	<slot />
</div>
