---
import { cn } from "../utils/cn";

interface Props extends astroHTML.JSX.HTMLAttributes {}
---

<div
	{...Astro.props}
	class={cn(
		"mx-auto w-[min(100%,var(--max-col-width,70ch))] flex-auto px-[var(--gutter,1rem)]",
		Astro.props.class,
	)}
>
	<slot />
</div>
