---
import { cn } from "../utils/cn";
type Props = { text: string } & astroHTML.JSX.ButtonHTMLAttributes;

const { text, class: className, ...rest } = Astro.props;
---

<button class={cn("copy-button", className)} data-text={text} {...rest}>
	<span class="idle">
		<slot />
	</span>
	<span class="copied" hidden>✅ Copied!</span>
</button>

<script is:inline>
	(() => {
		const thisScript = document.currentScript;
		const button = thisScript.previousElementSibling;
		const idleContent = button.querySelector(".idle");
		const copiedContent = button.querySelector(".copied");
		let timeout = -1;
		button.addEventListener("click", () => {
			copiedContent.removeAttribute("hidden");
			navigator.clipboard.writeText(button.dataset.text);
			clearTimeout(timeout);
			timeout = window.setTimeout(() => {
				idleContent.style.display = "inline";
				copiedContent.style.display = "none";
			}, 1500);
			idleContent.style.display = "none";
			copiedContent.style.display = "inline";
		});
	})();
</script>
