---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a
	href={href}
	class:list={[
		"inline-block p-3 relative",
		className,
		{ "text-teal-700 dark:text-teal-400": isActive },
	]}
	{...props}
>
	<slot />
	{
		isActive && (
			<hr class="absolute bottom-0 left-0 w-full border-b-2 border-current" />
		)
	}
</a>
