---
import { SITE_TITLE } from "../consts";
import HeaderLink from "./HeaderLink.astro";
import Mustache from "./Mustache.astro";
import ThemeToggle from "./ThemeToggle.astro";
---

<header>
	<nav class="flex gap-4 justify-between items-center text-xl font-medium">
		<div class="flex-grow basis-0 flex items-center ml-1">
			<a
				class="inline-block px-3 text-teal-700 hover:text-teal-800 dark:text-teal-400 dark:hover:text-teal-300"
				href="/"
			>
				<Mustache />
				<span class="sr-only">{SITE_TITLE}</span>
			</a>
		</div>

		<div class="px-4">
			<ThemeToggle class="hidden" />
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/blog/feed.xml">RSS</HeaderLink>
		</div>
	</nav>
</header>
