---
import type { HTMLAttributes } from "astro/types";
import { twMerge } from "tailwind-merge";

interface Props extends HTMLAttributes<"a"> {}
const { class: className, ...rest } = Astro.props;

export const linkStyles = twMerge(
	"underline underline-offset-4 hover:underline-offset-0 transition-all font-medium",
	"decoration-magenta-500 hover:text-magenta-700 hover:decoration-magenta-500/0",
	"dark:decoration-magenta-300 dark:hover:text-magenta-300",
);
---

<a class={twMerge(linkStyles, className)} {...rest}><slot /></a>
