---
import type { HTMLAttributes } from 'astro/types';
import { twMerge } from 'tailwind-merge';

interface Props extends HTMLAttributes<'a'> {}
const { class: className, ...rest } = Astro.props;

export const linkStyles = twMerge(
	'text-pink-600 hover:text-pink-800 dark:text-pink-400 dark:hover:text-pink-600 underline cursor-pointer',
);
---

<a class={twMerge(linkStyles, className)} {...rest}>
	<slot />
</a>
