---
import { twMerge } from "tailwind-merge";
const { class: className, ...rest } = Astro.props;
---

<a class="absolute" id="skip-target"></a>
<main
	class={twMerge(
		"mx-auto max-w-[min(100%,70ch)] flex-auto px-4 mt-12 md:mt-20 space-y-12 md:space-y-20",
		className,
	)}
	{...rest}
>
	<slot />
</main>
