---
import { twMerge } from 'tailwind-merge';
import { linkStyles } from './Link.astro';

interface Props {
	class?: string;
}

const { class: className } = Astro.props;
---

<div
	class:list={twMerge(
		'prose prose-lg prose-gray dark:prose-invert',
		linkStyles
			.split(' ')
			.map((s) => `prose-a:${s}`)
			.join(' '),
		'prose-code:before:content-none prose-code:after:content-none',
		// 'dark:prose-code:bg-gray-800 prose-code:px-2 prose-code:py-1 prose-code:rounded-md',
		// 'prose-pre:!bg-gray-800',
		className,
	)}
>
	<slot />
</div>
