---
import { twMerge } from 'tailwind-merge';
import { linkStyles } from './Link.astro';

interface Props {
	class?: string;
}

const { class: className } = Astro.props;
---

<div
	class:list={twMerge(
		'prose prose-lg prose-gray dark:prose-invert',
		'prose-a:text-pink-600 hover:prose-a:text-pink-800',
		'dark:prose-a:text-pink-400 dark:hover:prose-a:text-pink-600',
		'prose-code:before:content-none prose-code:after:content-none',
		className,
	)}
>
	<slot />
</div>
