<share-button>
	<button>
		<slot />
	</button>
</share-button>

<script>
	import "@daviddarnes/share-button";
</script>

<style>
	share-button:not(:defined),
	share-button:defined a {
		display: none;
	}
</style>
