---
import BaseHead, {
	type Props as HeadProps,
} from "../components/BaseHead.astro";
import Body from "../components/Body.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Main from "../components/Main.astro";
import Html from "../layouts/Html.astro";

type Props = {
	headProps: HeadProps;
};
---

<Html>
	<BaseHead {...Astro.props.headProps} />
	<Body>
		<Header />
		<slot />
		<Footer />
	</Body>
</Html>
