---
import BaseHead, {
	type Props as HeadProps,
} from "../components/BaseHead.astro";
import Body from "../components/Body.astro";
import ColumnWrapper from "../components/ColumnWrapper.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Main from "../components/Main.astro";
import Prose from "../components/Prose.astro";
import Html from "./Html.astro";

type Props = {
	frontmatter: Record<string, string>;
};
---

<Html>
	<BaseHead title={Astro.props.frontmatter.title} />
	<Body>
		<Header />
		<Main>
			<ColumnWrapper>
				<article>
					<Prose>
						<slot />
					</Prose>
				</article>
			</ColumnWrapper>
		</Main>
		<Footer />
	</Body>
</Html>
